#skills {
    /* padding-top: 200px; */
    max-width: 80vw;
    margin: auto;
    padding-top: 4%;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-heading {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5%;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.skill-card {
    position: relative;
    padding: 4px;
    width: 80vw;
    border-radius: 12px;
    cursor: pointer;
    margin: 0px auto 2rem auto;
    background-color: #611a67af;
    
}

.skill-title {
    text-align: center;
    margin: auto;
}

.skill-desc {
    
    text-align: center;
    font-weight: 300;
    margin: 4px auto;
    
}

