#skills {
    display: flex;
    max-width: 80vw;
    margin: auto;
    padding-top: 4%;
    gap: 8px;

}

#skills-blurb {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    justify-content: center;
   
}

.skills-heading {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 8px;
    margin: 0;
}

.skills-ul {
    padding: 0;
}

.list-heading {
    font-size: 1.3rem;
    color: #DEDCFF;
}

.skill {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 2rem 0;
    padding: 0px;
    border-radius: 100px;
    cursor: pointer;
    
}

.skill * {
    margin: 0 6px 0 0;
    padding: 8px 6px 8px 24px;
    border: 2px solid #59018b;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#sphere {
    display: flex;
    justify-content: space-evenly;
    max-width: 80vw;
    margin: auto;
}


.tagcloud--item {
    color: #DEDCFF;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
}

.tagcloud--item:hover {
    text-shadow:
    0 0 5px #8000ff,   /* Inner glow */
    0 0 10px #8000ff,  /* Mid glow */
    0 0 20px #8000ff,  /* Outer glow */
    0 0 40px #8000ff,  /* Wider glow */
    0 0 80px #8000ff;  /* Farthest glow*/
}